@import "../../app/utilities.scss";


.dasboard_cont
{
    width: 95%;
    height: auto;
    margin: auto;
    background-color: #fafafa;
    padding-top: 48px;

    @media screen and (max-width: 992px) {
        width: 100%;

        .dashboard_conti.container {
            max-width: 100% !important;
        }
    }
}

.dasboard_header
{
    margin-bottom: 48px;

    .header_title
    {
        font-size: 26px;
        font-weight: 400;
        color: #3e4676;
        font-family: Noto Sans, sans-serif;
        line-height: 1.2;
        margin-bottom: 8px;
    }
    span
    {
        color: #3e4676;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2;
    }
}

.dasboard_cont
{    
    .col
    {
        padding: 0px;
        background-color: #fafafa;
    }
    .cont_row
    {
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column!important;
        }
    }
    .graph_body
    {
        padding: 12px 20px  52px 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, .125);
        border-radius: .2rem;
        gap: 21px;
        box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    }
    .card-title
    {
        color: #3e4676;
        font-weight: 600;
        font-size: 14px;
    }
    .count_sec
    {
        height: 184px;
        background: #000;
        margin: 10px;
    }
    .card_graph
    {
        padding-left: 20px;
        position: relative;
        margin-top: 25px;

        .ratio_1
        {
            position: absolute;
            top: -10px;
            left: 0px;
        }
        .ratio_O
        {
            position: absolute;
            left: 0px;
            bottom: 30px;
        }
        .graph
        {
            width: 100%;
            height: 180px;
            border-bottom: 1px solid;
            border-left: 1px solid;
            display: flex;
            position: relative;           

            .line
            {
                width: 30px;
                height: 170px;
                background-color: rgb(85, 140, 243);
                position: absolute;
                bottom: 0;
                left: 12px;
            }
        }
        .grapg_day
        {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 10px;

            span 
            {
                font-size: 14px;

                @media screen and (max-width: 425px) {
                    font-size: 12px;
                }
            }
        }
    }
    .graph_btn_sec
    {
        display: flex;
        grid-column-gap: 60px;

        .gg_btn
        {
            display: flex;
            align-items: center;
        }
        input 
        {
            margin-right: 10px;
        }
        label
        {
            font-size: 14px;
            color: #3e4676;
        }
    }   

    .card_body
    {
        width: 100%;
        height: 100%;
        background-color: #fafafa;

    }
    .card_body, .overv_card_body
    {
        .card_content
        {
            display: flex;
            justify-content: space-between;
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            flex-basis: 43%;

            @media screen and (max-width: 540px) {
                flex-direction: column;
                margin-top: 24px;
            }
        }
        .card
        {
            width: 100%;
            height: 185px;
            margin-bottom: 24px;
            background-color: #fff;
            background-clip: border-box;
            border: 0px solid rgba(0, 0, 0, .125);
            border-radius: .2rem;
            box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
            padding: 12px 20px 20px 20px;

            @media screen and (max-width: 1200px) {
                margin-bottom: 0px;
                margin-top: 24px;
            }
            @media screen and (max-width: 540px) {
                margin-top: 0px;
                height: 150px;
            }
        }
        .card_title_date
        {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            
            @media screen and (max-width: 1400px){
                flex-direction: column;
                align-items: start;
                row-gap: 10px;
            }

            @media screen and (max-width: 1200px) {
                flex-direction: row;
            }
        }
        .title_date
        {
            color: #3e4676;
            font-weight: 600;
            font-size: 14px;
        }
        .date_icon
        {            
            background: #f2f2f2;
            border-radius: 5px;
            height: 36px;
            gap: 20px;
            color: #000;
            font-weight: 400;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 8px 8px 10px;
            cursor: pointer;
            
            span
            {
                font-size: 12px;
                font-weight: 400;
                color: #000;
            }
        }
        .counter
        {
            font-size: 32px;
            font-weight: 400;
            color: #1e1e1e;
            padding-top: 5px;
            padding-bottom: 22px;
            margin-bottom: 0;
        }
        .dropdown
        {
            background-color: #f2f2f2;
            border-color: #bdbdbd;
            border-radius: 4.80px;
            color: #000;
            font-size: 12px;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 36px;
            min-width: 115px;
            &:hover
            {
                background-color: #f2f2f2!important;
                border-color: #bdbdbd;
                color: #000;
            }

            .dropdown_menu
            {
                min-height: 36px;
                min-width: 115px;
            }
            .drop_items:hover
            {
                background-color: #fff;
            }
        }
        .styles_form_checkbox
        {
            display: flex;
            gap: 8px;
            align-items: center;

            .styles_filter_text
            {
                font-size: 11px;
                font-weight: 400;
                color: #000;
            }
        }
       
    }

    // Overview Section

    .overv_card_body
    {
        width: 100%;
        height: auto;
        padding: 12px 20px 20px 20px;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, .125);
        border-radius: .2rem;
        box-shadow: 0 2px 4px rgba(126, 142, 177, .12);

        @media screen and (max-width: 1200px) {
            margin-top: 24px;
            height: 100%;
            padding-bottom: 0px;
            
            .overview_img
            {
                width: 224px!important;
                height: 223px!important;
                border-width: 28px!important;
            }
        }
        @media screen and (max-width: 425px) {
            .overview_img
            {
                width: 180px!important;
                height: 180px!important;
                border-width: 20px!important;
            }
        }
    }
    .overv_card_body
    {
        .card_title_date
        {
            flex-direction: row;
        }
        .overview_sec
        {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;
            padding: 30px 0px 20px 20px;

            @media screen and (max-width: 1400px) {
                align-items: center;
            }
            @media screen and (max-width: 1200px) {
                flex-direction: column;
                padding: 30px 0px 0px 0px;
            }
        }
        .overview_img
        {
            width: 223px;
            height: 223px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 28px solid #d1d1d1;

            @media screen and (max-width: 1400px) {
                width: 180px;
                height: 180px;
                border: 20px solid #d1d1d1;
            }
            @media screen and (max-width: 1250px) {
                width: 160px;
                height: 160px;
            }
           
            
            &:hover
            {
                border-color: #c1c1c1;
            }

            span
            {
                font-size: 12px;
                font-weight: 400;
                color: #3e4676;
            }
        }
        .table{
            width: 100%;
        }        
        .table
        {
            table
            {
                width: 100%;
            }
            tr
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #dee2e6;    
                border-bottom: none;
                padding: 0px;
            }
            td
            {
                padding: .75rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
            }
            .indi_list
            {
                width: 14px;
                height: 14px;
                background-color: red;
                border-radius: 50%;
            }
            .status_text
            {
                color: #3e4676;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}
.status_table
{
    width: 100%;
    background-color: #fff;
    margin-top: 24px;
    border-radius: .2rem;
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);

    @media screen and (max-width: 1200px) {
        margin-top: 48px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 24px;
    }
}

.status_table
{
    .table_head
    {
        width: 100%;
        padding: 13px;
        color: #3e4676;
        font-weight: 600;
        font-size: 14px;
        background-color: #fff;
    }

    .table_content
    {
        overflow: auto hidden;
        width: 100%;
        height: 100%;
    }
    .table_sec
    {
        tr 
        {
            border-top: 1px solid #dee2e6;
        }
        th 
        {
            font-size: 15px;
            font-weight: 700;
            color: #3e4676;
            padding: 12px;
            vertical-align: baseline;
            text-wrap: nowrap;
        }
        td
        {
            border: none;
            padding: 13px;
            font-size: .9375rem;
            font-weight: 400;
            line-height: 1.5;
            color: #0f0f0f;
            vertical-align: middle;
        }
        .ticket_status
        {
            width: 79px;
            padding: 3px;
            border-radius: 3.2px;
            background-color: #e0102b;
            color: #fff;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
        }
        .styles_preview_icon
        {
            display: flex;
            gap: 8px;
            background: #f2f2f2;
            width: 100px;
            border-radius: 4px;
            padding: 5.5px 10px;
            cursor: pointer;
        }
    }

}
    
