@import "./utilities.scss";

.main
{
    background-color: #fafafa;
    width: calc(100% - 250px);
    margin-left: auto;
    padding: 44px 36px;

    @media screen and (max-width: 992px) {
        width: 100%;
        &.mainContentopen{
            width: 100%;
        } 
    }
    @media screen and (max-width: 1200px) {
        padding: 30px 20px;
    }
   
}
.header
{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 99999;
}
.navbar_
{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 1rem;

    @media screen and (max-width: 580px) {
        padding: 0 .50rem;
    }
}
.brand_logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;

    @media screen and (max-width: 600px) {
        grid-column-gap: 5px;
    }
}
.menu_icon
{
    display: none;
    cursor: pointer;

    @media screen and (max-width: 992px) {
        display: block;
    }
}
.logo_img img
{
    width: auto;
    height: 19px;
    margin-bottom: 2.5px;
}
.navbar_nav
{
    @media screen and (max-width: 992px) {
        display: none;
    }
    .navbar_menu
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1/1;
        position: static;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_dropdown_list
    {
        width: auto;
        max-height: 44px;
        height: 44px;
        position: relative;
        padding: 0  0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 1100px) {
            padding: 0 0.2rem;
        }

        .dropdown_container
        {
            width: 100dvw;
            background-color: #fff;
            position: fixed;
            top: 44px;
            left: 0;
            display: none;
            transition: all ease-in-out 0.5s;
        }
        .dropdowm_row
        {
            width: 100%;
            max-width: none;
            grid-column-gap: 12px;
            grid-row-gap: 10px;
            background-color: rgba(245, 245, 247, 0);
            justify-content: center;
            align-items: flex-start;
            padding-top: 25px;
            padding-bottom: 20px;
            display: flex;
        }
        .menu_content
        {
            width: 80px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: flex;
            text-decoration: none;
            grid-row-gap: 7px;
            animation: fadeInRight 0.3s linear 0s;
        }
       
        @keyframes fadeInRight
        {
            0%{
                opacity:0;
                -webkit-transform:translate3d(100%,0,0);
                transform:translate3d(100%,0,0);
            }
            100%{
                opacity:1;
                -webkit-transform:translateZ(0);
                transform:translateZ(0)
            }
        }
        .menu_icon
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
        }
        .menu_icon img
        {
            width: 100%;
            height: 40px;
        }
        .menu_text
        {
            color: #1d1d1f;
            text-align: center;
            letter-spacing: -.01em;
            margin-top: 0;
            margin-bottom: .25rem;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-decoration: none !important;
        }
       
    }
    .nav_dropdown_list:hover .dropdown_container
    {
        display: block;
    }

    .nav_dropdown_items
    {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000;
        padding: 0 0.6rem;
        letter-spacing: -0.12px;       
    }    
}

.search_bar
{
    width: auto;
    height: 44px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .search_icon
    {
        display: flex;
        align-items: center;
        padding: 5px 16px;   
        cursor: pointer;

        @media screen and (max-width: 992px) {
            order: 2;
        }
        @media screen and (max-width: 600px) {
            padding: 5px;
        }
    }
    .icon_wrap
    {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.notification_bar
{
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;

   .bell_icon
   {
     padding: 0 0.5rem;
     position: relative;

     .svg-inline--fa 
     {
        width: 15.75px;
        height: 18px;
        color: rgba(0,0,0,.5);
        cursor: pointer;
     }   
     .indicator {
        background: #fd7e14;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .05);
        border-radius: 50%;
        display: block;
        height: 9px;
        width: 9px;
        position: absolute;
        top: 0px;
        right: 1px;
        transition: top .1s ease-out;
     } 
   }
    
   .user_id_sec
   {
        width: auto;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        .user_detail
        {    
            height: 24px;       
            cursor: pointer !important;
            display: flex;
            gap: 6px;
            border-radius: 10px;
            background: #f2f2f2;
            border: unset;
            padding: 3.5px 9px !important;
            margin-left: 5px;
            
            .profile_name
            {
            color: #000;
            font-size: 12px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            font-family: SF Pro Display, sans-serif;
            }
            .profile_img
            {
            height: 17px !important;
            width: 17px !important;
            min-width: 17px;
            max-width: 17px;
            object-fit: cover;
            padding: unset !important;
            display: flex;
            }
            .profile_img img
            {
                width: 100%;
                height: 100%;
            }
        }
   }
}

// Dasbord Section



.side_bar
{
    position: fixed;
    top: 0px;
    left: 0;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    // margin-left: -250px;
    transition: all ease-in-out 0.5s;
    padding-top: 44px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .05);
    z-index: 9999;
    
    @media screen and (max-width: 992px) {
        margin-left: -250px;   
   
        &.sidebar_open {
        margin-left: 0px;
    }
    }
    @media screen and (max-width: 380px) {
        min-width: 235px;
    }

    .slider
    {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .slider_profile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0 32px;

        .avatar-user-name {
            font-size: 15px;
            font-weight: 600;
            color: #3e4676;
            margin-top: 8px;
        }
        .user-email {
            font-size: 12px;
            font-weight: 400;
            color: #3e4676;
        }
    }

    .sidebar-nav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 1;
        background: #fff;
        gap: 4px;
    }
    .sidebar-item .sidebar-link {
        font-size: 14px !important;
        // width: 238px;
        height: 40px;
        padding-left: 30px;
        color: #0f0f0f;
        font-weight: 400 !important;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 11px;
    }
    .sidebar-item .sidebar-link img
    {
        width: 20px;
        height: 20px;
        color: #0f0f0f;       
    }
    .sidebar-item.active .sidebar-link {       
        color: #2280e1;
        background: #f2f2f2 !important;       
    }
    .sidebar-item:hover .sidebar-link
    {
        background: #f2f2f2!important;
    }
    .sidebar-link, a.sidebar-link {
        display: block;
        padding: 12.5px 12px;
        margin-right: 0;
        margin-left: 0;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        font-size: 14px !important;
        line-height: 16.41px !important;
        cursor: pointer;
    }
    .slider_fixed_bottom
    {      
        margin-top: 40px;
        border-top: 1.70px solid #e1e1e1;
        background-color: #fff;
        width: 245px;

        @media screen and (max-width: 380px) {
            width: 230px;
        }
    }
    .slider_fixed_bottom .settings {
        margin-left: 12px;
        margin-right: 13px;
        padding-top: 22px;
        padding-bottom: 44px;
    }
    .lang_btn
    {
        width: 100%;
        outline: none;
        border: none;
        background-color: #fff;
        border-radius: 7px;
    }
    .lang_btn:hover
    {
        background-color: #f2f2f2!important;
    }
    .lang_btn .lang_eng {
        width: 100%;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        flex: 0 1 auto;
        justify-content: flex-start;
        align-items: center;
        padding: 7px 12px;
        display: flex;
        cursor: pointer;
    }
    .lang_eng img{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
    }
    .lang_eng .language-name {
        font-size: 14px;
        font-weight: 400;
        color: #0f0f0f;
    }
}
  