@import "../../app/utilities.scss";

.user_chat_sec
{
    width: 100%;
    height: calc(100vh - 250px);
    position: relative;
    display: flex;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125);
    border-radius: .2rem;
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
}

.user_chat_sec
{
    .user_sec
    {
        max-width: 378px;
        min-width: 378px;
        width: 378px;
        height: 100%;
        overflow: auto;
        border-right: 1px solid #dee2e6!important;
    }
    .search_bar
    { 
        width: 378px;
        height: auto;
        padding: 16px 20px;
        display: flex;
        align-items: center;
        background-color: #fff!important;
        position: fixed;
        z-index: 999;
        border-right: 1px solid #dee2e6!important;

        input 
        {
            border: 1px solid #bdbdbd;
            font-size: 15px;
            line-height: 17.58px;
            font-weight: 400;
            border-radius: 3.2px;
            color: #606060;
            margin: 0px;
        }
    }
    .user_detail_sec
    {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover
        {
            background-color: #e7e7e7;

            .time_tag
            {
                display: none;
            }
            .time_tag2
            {
                display: block;
                font-size: 18px;
                font-weight: 800;
            }
        }
        .time_tag,.time_tag2
        {
            color: #777e90;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            transition: all 0.3s;
            cursor: pointer;
        }
        .time_tag2
        {
            display: none;
        }
        .user_detail
        {
            display: flex;
            align-items: center;
            gap: 16px;
            .user_img
            {
                .user_profile_icon
                {
                    width: 40px;
                }
            }
            .user_name 
            {
                span
                {               
                    color: #0f0f0f;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                }
                .u_c_d
                {
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    span
                    {
                        color: #777e90;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                    }
                    .indi_list
                    {
                        width: 12px;
                        height: 12px;
                        background-color: rgb(253, 84, 84);
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .chat_area
    {
        width: 100%;
        position: relative;
    }
    .chat_area
    {
        .user_detail_sec
        {
            border-bottom: 1px solid #dee2e6;
            padding: 12px 24px;
            &:hover
            {
                background-color: #fff;
            }
        }
        .styles_filter_text
        {
            font-size: 12px;
            font-weight: 400;
            color: #3e4676;
        }

        .text_area_sec
        {
            width: 100%;
            background-color: #f2f2f2;
            padding: 12px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            gap: 12px;
        }
        .ticket_btn
        {
            text-decoration: none;
            border: 1px solid #2280e1;
            color: #2280e1;
            background-color: transparent;
            border-radius: 30px;
            font-size: 13px;
            font-weight: 600;
            font-family: Noto Sans, sans-serif;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 15px;
            transition: all ease-in-out 0.3s;
            .img2
            {
                display: none;
            }

            &:hover
            {
                color: #fff;
                background-color: #2280e1;
                .img1
                {
                    display: none;
                }
                .img2
                {
                    display: block;
                }
            }
        }
        .text_field
        {
            height: 40px;
            resize: none;
            padding: 10px 15px;
            font-size: 14px;
            border: none;
            outline: none;
            border-radius: 30px;
            overflow: auto hidden;
            width: 500px;
            position: relative;

            &:hover
            {
                border: none;
            }
        }
        .send_icon
        {
            position: absolute;
            left: auto;
            right: 160px;
            cursor: pointer;
        }
        .emoji_btn img ,.add_btn img
        {
            width: 46px;
            height: 46px;
            cursor: pointer;
        }
    
    }
}